<!-- views/transportation.ejs -->

<!-- MAIN 페이지 내용 -->
<main class="">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <!-- 1. Carousel Item ONE -->
      <div class="carousel-item active">
        <img
          src="https://cdn.shopify.com/s/files/1/0020/1628/0646/files/MY-FIRST-BOARD.jpg?v=1652865305"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption text-start">
          <h1 style="background:black">DECK</h1>
          <p style="background:black">DECK는 스케이트보드 위의 나무 판자이다.</p>
          <p>
            <a class="btn btn-lg btn-success ut-red" href="https://kadenceshop.com/product/list.html?cate_no=29"
              >Buy now <em>DECK</em></a
            >
          </p>
        </div>
      </div>

      <!-- 2. Carousel Item TWO -->
      <div class="carousel-item">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaP4IbjVAhRAOUMKJEhJZ8WYg_xZWWUnlXKg&s"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption text-start">
          <h1 style="background:black">TRUCK</h1>
          <p style="background:black">TRUCK은 스케이트보드의 조향을 담당한다.</p>
          <p>
            <a class="btn btn-lg btn-success ut-red" href="https://kadenceshop.com/product/list.html?cate_no=32"
              >Buy now <em>TRUCK</em></a
            >
          </p>
        </div>
      </div>

      <!-- 3. Carousel Item THREE -->
      <div class="carousel-item">
        <img
          src="https://img.skatewarehouse.com/watermark/rsg.php?path=/content_images/wheelarticle/wheelselection.jpg&nw=780"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption text-start">
          <h1 style="background:black">WHEEL</h1>
          <p style="background:black">WHEEL은 스케이트보드의 바퀴다.</p>
          <p>
            <a class="btn btn-lg btn-success ut-red" href="#"
              >Buy now <em>WHEEL</em></a
            >
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="text-center pt-5">
    <h1>스케이트보드 부품</h1>
    <p class="lead">
      데크, 휠, 트럭
    </p>
  </div>
</main>
